@import "./breakpoints";

.givepage1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #f8fcff;

  .givepage_header {
    background-image: url("../assets/food2.jpg");
    height: fit-content;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
    gap: 2rem;
    width: 100%;

    .givepage_head_section {
      padding: 8rem 0 4rem;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      margin-left: 10rem;

      @media screen and (max-width: 430px) {
        padding: 6rem 0 4rem;
      }

      .givepage_left {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem;
        max-width: 35rem;
        width: 40%;

        @media screen and (max-width: 430px) {
          padding: 0;
        }

        .the_head {
          font-size: 1.8rem;
          font-weight: 600;
          text-align: center;
          line-height: 2.5rem;

          @include respond-to("tablet") {
            font-size: 1.5rem;
          }

          @include respond-to("mobile") {
            font-size: 1.3rem;
            line-height: 2rem;
          }
        }

        .sub_head {
          font-size: 1rem;
          text-align: center;

          @include respond-to("tablet") {
            font-size: 0.9rem;
          }

          @include respond-to("mobile") {
            font-size: 0.8rem;
          }
        }

        .the_body {
          font-size: 0.9rem;
          text-align: center;

          @include respond-to("tablet") {
            font-size: 0.8rem;
          }

          @include respond-to("mobile") {
            font-size: 0.7rem;
          }
        }
      }
      @include respond-to("desktop--lg") {
        margin-left: 8rem;
        .givepage_left {
          width: 50%;
        }
      }
    }
  }
  .contributors {
    background: transparent;
    display: grid;
    width: 80%;
    grid-template-columns: 59% 40%;
    grid-template-rows: auto auto;
    justify-content: center;
    padding-top: 1rem;
    position: relative;
    top: -3rem;
    gap: 1rem;

    @include respond-to("tablet") {
      width: 90%;
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto;
    }

    .contributors_card {
      display: flex;
      flex-direction: column;
      border: 1px solid #e3e5e5;
      background: white;
      border-radius: 5px;
      padding: 1.5rem 3rem 1rem;
      align-items: center;
      gap: 2rem;
      grid-column-start: 1;
      grid-column-end: 3;
      width: 100%;

      @include respond-to("tablet") {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      .overap_image {
        width: 3rem;
        background-color: #f6c248;
        padding: 0.8rem;
        border-radius: 50px;
        position: absolute;
        top: -0.7rem;
      }

      .the_contributors {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        box-sizing: border-box;
        width: 100%;
        justify-content: center;
        align-items: center;

        img {
          @include respond-to("tablet") {
            width: 2.5rem;
          }
        }

        @media screen and (max-width: 668px) {
          gap: 1rem;

          img{
            width: 2rem;
          }
        }
      }
    }

    .card_title {
      font-size: 1rem;
      font-weight: 600;

      @include respond-to("tablet") {
        font-size: 0.9rem;
      }

      @include respond-to("mobile") {
        font-size: 0.8rem;
      }
    }

    .tab_heading {
      font-weight: 600;
      font-size: 1.1rem;
      line-height: 1.5rem;

      @include respond-to("tablet") {
        font-size: 1rem;
      }

      @include respond-to("mobile") {
        font-size: 0.9rem;
      }
    }
    .tab_info {
      font-size: 0.9rem;
      color: #575a5e;

      @include respond-to("tablet") {
        font-size: 0.8rem;
      }
    }
    .tab_link {
      font-size: 0.8rem;
      text-transform: uppercase;
      color: #4e6b8e;
      font-weight: 600;
      cursor: pointer;

      @include respond-to("tablet") {
        font-size: 0.7rem;
      }

      @include respond-to("mobile") {
        font-size: 0.6rem;
      }
    }
    .tab_link:hover {
      text-decoration: underline;
    }
    .tab_button {
      border: 2px solid black;
      width: fit-content;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 600;
      border-radius: 4px;
      cursor: pointer;

      @include respond-to("tablet") {
        font-size: 0.7rem;
      }
    }
    .tab_button:hover {
      background: black;
      color: white;
    }
    .join_info_tab,
    .sponsor_tab {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      padding: 2rem;
      border: 1px solid #e3e5e5;
      background: white;
      grid-row-start: 2;
      grid-row-end: 3;
      border-radius: 5px;
    }
    .tab_overap_image {
      position: absolute;
      left: -2rem;
      border: 1px solid green;
      padding: 0.5rem;
      width: 3.5rem;
      border-radius: 50px;
      rotate: -30deg;

      @include respond-to("tablet") {
        width: 2.6rem;
        left: -1.8rem;
      }

      @media screen and (max-width: 668px) {
        left: -1rem;
     }
    }

    .sponsor_tab {
      @include respond-to("tablet") {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }
  }
  .ways_to_give_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 1rem;
    padding: 0 0 5rem;

    .ways_to_give_heading {
      font-size: 1.8rem;
      font-weight: 600;

      @include respond-to("tablet") {
        font-size: 1.5rem;
      }

      @include respond-to("mobile") {
        font-size: 1.3rem;
      }
    }
    .ways_to_give {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      border: 1px solid #e3e5e5;
      background: white;
      justify-content: space-between;
      gap: 2.5rem;
      padding: 3rem;

      @media screen and (max-width: 868px) {
        padding: 2rem;
        gap: 2.5rem 0;
      }

      @media screen and (max-width: 568px) {
        padding: 3rem 2rem;
        gap: 3rem 0;
      }

      @media screen and (max-width: 430px) {
        grid-template-columns: 80% !important;
        justify-content: center!important;
      }
    }
  }

  @include respond-to("tablet") {
    .ways_to_give_container {
      width: 90%;
    }
  }
}

@media screen and (max-width: 847px) {
  .givepage_head_section {
    align-items: center !important;
    width: 100%;
    margin-left: 0 !important;
  }
  .givepage_left {
    width: 80% !important;
  }

  .ways_to_give {
    grid-template-columns: 47% 47% !important;
  }
}

@media screen and (min-width: 1440px) {
  .givepage_head_section {
    margin-left: 15vw !important;
  }
  .contributors {
    width: 70% !important;
  }
  .ways_to_give_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70% !important;
    gap: 1rem;
    padding: 0 0 5rem;
  }
}
