.homepage1
    height: 100vh
    width: 100vw

    .homepage_header
        background-image: url('../assets/food2.jpg')
        height: fit-content
        background-size: cover

        .home_head_section
            padding: 8rem 10rem 4rem 10rem
            color: white
            display: flex
            flex-direction: row
            gap: 4rem
            align-items: center
            justify-content: center

            .left_head
                display: flex
                flex-direction: column
                gap: 1rem
                width: 48%

                .the_head
                    font-size: 2.3rem
                    font-weight: 600
                    text-align: center
                    line-height: 2.8rem

                .the_body
                    font-size: .9rem
                    text-align: center

            .right_head
                width: 40%
                display: flex
                flex-direction: column
                gap: 1rem

                .choose_amount_header
                    display: flex
                    flex-direction: row
                    height: 3rem

                    .toggle_button
                        width: 50%
                        display: flex
                        align-items: center
                        justify-content: center
                        font-size: .8rem
                        text-transform: uppercase
                        font-weight: 600
                        height: 100%

                    .toggle_button:nth-child(1)
                        background: white
                        color: #0B3763

                    .toggle_button:nth-child(2)
                        color: white
                        background: #0B3763

                .choose_amount
                    background: white
                    color: black
                    border-radius: 5px
                    font-size: .9rem

                    .choose_amount_header
                        padding: 1rem 1.5rem
                        background: #F4F5F0
                        text-align: center
                        font-weight: 600
                        display: flex
                        align-items: center
                        justify-content: center
                        border-bottom: 1px solid #E0E0DE

                    .choose_amount_body
                        padding: 1.5rem
                        display: grid
                        grid-template-columns: 31% 31% 31%
                        grid-template-rows: 2.8rem 2.8rem 2.8rem
                        gap: .8rem

                        .amount_button, .amount_input
                            background: #E9EAE4
                            border: 1px solid #DFDFDB
                            color: #9DA09F
                            display: flex
                            flex-direction: row
                            align-items: center
                            justify-content: center
                            font-size: 1rem
                            border-radius: 3px
                            gap: .2rem

                            .dollar
                                font-size: .8rem
                                text-transform: uppercase

                            .month
                                text-transform: lowercase

                        .amount_input
                            grid-column-start: 2
                            grid-column-end: 4
                            padding: 0 1rem
                            font-size: .9rem
                            text-align: center

                        .join_button
                            grid-column-start: 1
                            grid-column-end: 4
                            background: #0C3763
                            color: white
                            font-weight: 600
                            text-transform: uppercase
                            font-size: .9rem
                            display: flex
                            align-items: center
                            justify-content: center
                            border-radius: 3px

                    hr
                        margin: 0
                        border-top: 1px dashed #E0E0E0

                    .choose_amount_footer
                        padding: 1rem 1.5rem

                .secure_note
                    background: transparent
                    font-size: .8rem
                    padding: 0 1.5rem
                    color: #A28F77

                    .policy
                        text-decoration: underline

    .our_work_section
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 8rem 10rem 0

        .our_work_head
            font-size: .8rem
            color: #608c9f
            text-transform: uppercase

        .our_work_text
            display: flex
            flex-direction: column
            align-items: center

            .work_heading
                font-size: 1.6rem
                font-weight: 600
                margin: 1rem 0
                text-align: center
                width: 70%

            .work_text
                font-size: .9rem
                width: 60%
                text-align: center

    .work_numbers
        display: flex
        flex-direction: row
        width: 60%
        justify-content: space-between
        margin: 2.5rem

        .number_details
            display: flex
            flex-direction: column
            align-items: center

            .dummy_icon
                width: 6rem

            .the_number
                font-size: 1.7rem
                font-weight: 600

            .number_text
                font-size: .9rem

    .contributors
        background: linear-gradient(to bottom, white 50%, #F8FCFF 50%)
        display: flex
        align-items: center
        justify-content: center
        padding-top: 1rem

        .contributors_card
            display: flex
            flex-direction: column
            border: 1px solid #E3E5E5
            border-radius: 5px
            padding: 1.5rem 3rem 1rem
            background: white
            align-items: center
            gap: 2rem

            .the_contributors
                display: flex
                flex-direction: row
                gap: 2rem

        .card_title
            font-size: 1rem
            font-weight: 600

    .join_spring_section
        background: #F8FCFF
        display: flex
        flex-direction: column
        align-items: center
        padding: 2rem 0 3rem
        justify-content: center
        height: fit-content

        .spring_heading
            font-size: 1.6rem
            font-weight: 600
            padding: 2rem 0 0
            text-align: center

        .spring_subheading
            font-size: .9rem

        .join_spring_title
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            padding-bottom: .5rem

        .spring_grid_image
            display: grid
            grid-template-columns: 28rem 3rem 28rem
            grid-template-rows: 2rem 24rem 2rem 2rem 11rem
            overflow: hidden
            padding: 2rem 0

            .grid_container
                background: white
                border: 1px solid #E3E5E5
                border-top: 3px solid #4F8C79
                width: 100%
                grid-column-start: 1
                grid-column-end: 3
                grid-row-start: 2
                grid-row-end: 4
                z-index: 2
                padding: 2rem
                box-sizing: border-box
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                border-radius: 5px

                .logo_icon
                    width: 2rem

                .grid_heading
                    font-size: 1.3rem
                    text-transform: capitalize
                    padding: .5rem 0 0 0

                .grid_text
                    font-size: .9rem
                    text-align: center
                    padding: 1rem 0

                .grid_bold_text
                    font-size: .9rem
                    font-weight: 600
                    text-align: center

                .grid_button
                    width: fit-content
                    padding: .7rem 1rem
                    text-transform: uppercase
                    background: #49A67D
                    margin: 1rem 0
                    border-radius: 5px
                    color: white
                    font-size: .9rem
                    font-weight: 600

                .grid_italic_text
                    font-size: .9rem
                    font-style: italic
                    color: #4F5D64

            .grid_image
                grid-column-start: 2
                grid-column-end: 4
                grid-row-start: 1
                grid-row-end: 3
                width: 100%
                height: 100%
                border-radius: 5px

            .learn_more_container
                grid-column-start: 1
                grid-column-end: 4
                grid-row-start: 5
                grid-row-end: 6
                display: flex
                flex-direction: row
                justify-content: space-between
                align-items: center

                .learn_more_card
                    display: flex
                    flex-direction: row
                    height: 100%
                    width: 49%
                    background: white
                    border-radius: 5px
                    border: 1px solid #E3E5E5

                    .learn_image
                        width: 40%
                        border-radius: 4px 0 0 4px

                    .learn_more_details
                        padding: 1.5rem 1.2rem
                        width: 60%

                        .learn_more_heading
                            font-size: 1rem
                            font-weight: 600

                        .learn_more_text
                            font-size: .9rem
                            padding: .3rem 0 1rem 0
                            line-height: 1.2rem

                        .learn_more_link
                            text-transform: uppercase
                            text-decoration: underline
                            color: #1C4265
                            font-size: .8rem
                            font-weight: bold

    .stories_section
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 2rem 0

        .stories_heading
            font-size: 1.6rem
            font-weight: 600
            padding: 2rem 0 0
            text-align: center
            width: 40%

        .the_stories
            display: flex
            flex-direction: row
            gap: 1.5rem
            width: 100%
            justify-content: center
            padding: 2rem 0

            .story_section
                width: 23%
                display: flex
                flex-direction: column
                align-items: center

                .story_image
                    width: 100%
                    height: 8rem
                    overflow: hidden

                .story_details
                    display: flex
                    flex-direction: column
                    padding: 2rem 0
                    align-items: center
                    width: 90%

                    .story_tiny_head
                        font-size: .8rem
                        text-transform: uppercase
                        color: #608c9f
                        font-weight: 600

                    .story_heading
                        font-size: 1.2rem
                        text-transform: capitalize
                        padding: 1rem 0
                        text-align: center

                    .story_text
                        font-size: .9rem
                        text-align: center

                    .story_link
                        font-size: .9rem
                        text-transform: uppercase
                        text-decoration: underline
                        color: #1C4265
                        padding: 2rem 0 0
                        font-weight: 600
